<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- name space：必须与对应的接口全类名一致 id:必须与对应接口的某个对应的方法名一致 -->
<mapper namespace="com.tgb.mapper.P2pmapper">


    <!-- 第一次初始化平台数据 -->
    <insert id="save_init" parameterType="P2pInfo">
		insert into t_plat(name,score)
		values(#{name},#{score})
	</insert>

    <!-- 第一次初始化平台数据 -->
    <insert id="delById" parameterType="int">
		delete from t_plat where id=#{id}
	</insert>


    <select id="findAll" resultType="P2pInfo">
		select id id,name
		name,other_name other_name,score score,is_delete is_delete,is_trouble
		is_trouble,url url,icon_url icon_url,zhiji_rank zhiji_rank,
		zhijia_url
		zhijia_url,zhijia_code zhijia_code,tianyan_rank
		tianyan_rank,tianyan_code tianyan_code,tianyan_level tianyan_level
		,luopan_code luopan_code
		,tianyan_url tianyan_url,rank360 rank360,gentou_rank gentou_rank,rate3_return rate3_return,rate6_return rate6_return,is_love is_love
		from t_plat ORDER BY score DESC
	</select>

    <select id="findAllByStr" parameterType="String"  resultType="P2pInfo">
		select id id,name
		name,other_name other_name,score score,is_delete is_delete,is_trouble
		is_trouble,url url,icon_url icon_url,zhiji_rank zhiji_rank,
		zhijia_url
		zhijia_url,zhijia_code zhijia_code,tianyan_rank
		tianyan_rank,tianyan_code tianyan_code,tianyan_level tianyan_level
		,luopan_code luopan_code
		,tianyan_url tianyan_url,rank360 rank360,gentou_rank gentou_rank,rate3_return rate3_return,rate6_return rate6_return,is_love is_love
		from t_plat   ${str}
	</select>

    <select id="findById" parameterType="int" resultType="P2pInfo">
		select id id,name
		name,other_name other_name,score score,is_delete is_delete,is_trouble
		is_trouble,url url,icon_url icon_url,zhiji_rank zhiji_rank,
		zhijia_url
		zhijia_url,zhijia_code zhijia_code,tianyan_rank
		tianyan_rank,tianyan_code tianyan_code,tianyan_level tianyan_level
		,luopan_code luopan_code,rate3_return rate3_return,rate6_return rate6_return,is_love is_love
		,tianyan_url tianyan_url,rank360 rank360,gentou_rank gentou_rank from t_plat where id=#{id}
	</select>

    <update id="updateReta3" parameterType="P2pInfo">
		update t_plat set rate3_return=#{rate3_return} where id=#{id}
	</update>
    <update id="updateReta6" parameterType="P2pInfo">
		update t_plat set rate6_return=#{rate6_return} where id=#{id}
	</update>


    <update id="updateScore" parameterType="P2pInfo">
		update t_plat set score=#{score} where id=#{id}
	</update>

    <update id="updateRankGenTou" parameterType="P2pInfo">
		update t_plat set gentou_rank=#{gentou_rank} where name=#{name} or other_name=#{name}
	</update>

    <update id="updateRank360" parameterType="P2pInfo">
		update t_plat set rank360=#{rank360} where name=#{name} or other_name=#{name}
	</update>


    <update id="updateZhiJi" parameterType="P2pInfo">
		update t_plat set zhiji_rank=#{zhiji_rank} where name=#{name} or other_name=#{name}
	</update>
    <update id="updateTianYanRank" parameterType="P2pInfo">
		update t_plat set tianyan_level=#{tianyan_level},tianyan_rank=#{tianyan_rank} where name=#{name} or other_name=#{name}
	</update>
    <update id="updateZhiJiCode" parameterType="P2pInfo">
		update t_plat set zhijia_code=#{zhijia_code},icon_url=#{zhijia_url} where name=#{name} or other_name=#{name}
	</update>
    <update id="updateTianYanCode" parameterType="P2pInfo">
		update t_plat set tianyan_code=#{tianyan_code},url=#{url} where name=#{name} or other_name=#{name}
	</update>
    <update id="updateLove" >
		update t_plat set is_love=#{score}where id=#{id}
	</update>


</mapper>