.main_font {
    margin-top: 0.5rem;
    font-size: 3rem;
    color: #333333;
}

.two_font {
    margin-top: 1rem;
    font-size:3rem;
    color: #666666;
}

.red_font {
    margin-top: 1rem;
    font-size: 2rem;
    color: #ff1f3f;
}

.green_font {
    margin-top: 1rem;
    font-size: 2rem;
    color: #00ad22;
}