body {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    font-size: 12px;
}

a {
    outline-style: none;
    text-decoration: none;
    color: #333333;
}

table {
    width: 1200px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #c0c0c0;

}

th, td {
    border: 1px solid #d0d0d0;
    font: bold 16px "宋体";
    padding-top: 8px;
    padding-bottom: 8px;
    align: center;

}

th {
    background-color: #09c;
    font: bold 16px "宋体";
    color: #fff;
}

td {
    font: bold 16px "宋体";
    align-content: center;
    text-align: center;
    vertical-align: middle;
}

tbody tr {
    background-color: #f0f0f0;
}

tbody tr:hover {
    cursor: pointer;
    background-color: #fafafa;
}

tr {
    width: 100%;
}

.button_a {
    background-color: #36c;
    color: #fff;
}

.fixedtd {
    position: fixed;
    margin: 0 auto;
    z-index: 99;
    width: 1200px;
    top: 0;
}

.table_content {
    margin-top: 85px;
    overflow: auto;
    position: relative;
    width: 1200px;

}

.a_top_button {
    color: #fff;
}

.first_td {
    width: 70px;
}

.order_top {
    width: 90px;
}

.td_common {
    width: 90px;
}

.love_core {
    width: 90px;
}
