
#background {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.background {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

#div1_dialog {
    background: #eeeeee;
    width: 50%;
    z-index: 1;
    margin: 12% auto;
    overflow: auto;
    text-align: center;
}

.dialog_content {
    background: #eeeeee;
    width: 50%;
    z-index: 1;
    margin: 2% auto;
    overflow: auto;
    text-align: center;
}

#dialog_button_save {
    margin-top: 10px;
    background: #E27575;
    border: none;
    padding: 10px 55px 10px 55px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}

.basic-grey .button:hover {
    background: #CF7A7A
}

#div2_dialog {
    background: #eeeeee;
    margin: auto;
    height: 300px;
    text-align: center;
    vertical-align: middle;
}

#div3_dialog {
    background: #eeeeee;
    margin: auto;
    height: 400px;
    text-align: center;
    vertical-align: middle;
}

.div3_dialog {
    background: #eeeeee;
    margin: auto;
    height: 400px;
    text-align: center;
    vertical-align: middle;
}

.div3_dialog_compare {
    background: #eeeeee;
    margin: auto;
    height: 600px;
    text-align: center;
    vertical-align: middle;
}
#close_top {
    padding: 5px;
    background: #09c;
    color: white;

}

.close_top_class {
    padding: 5px;
    background: #09c;
    color: white;

}

#close-button {
    float: right;
    font-size: 40px;
    color: white;
    margin-right: 20px;
    background-color: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.close-button {
    float: right;
    font-size: 40px;
    color: white;
    margin-right: 20px;
    background-color: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

#foot {
    padding: 5px 0;
    text-align: center;
    background: #09c;
    color: white;
}

/*添加弹出框*/

#add_dialog_close {
    float: right;
    font-size: 40px;
}

#add_dialog_background {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#add_dialog_main {
    background: #eeeeee;
    width: 50%;
    z-index: 1;
    margin: 8% auto;
    overflow: no-display;
}

#add_dialog_top {
    color: white;
    background: #09c;
    padding: 10px;
}

#add_dialog_closen {
    float: right;
    font-size: 40px;
    color: white;
    margin-right: 10px;
    margin-top: 10px;
    background-color: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}