/* 全局CSS定义 */
body {
    font-family:"Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}
body > div {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
div, form, ul, ol, li, span, p {
    margin: 0;
    padding: 0;
    border: 0;
}
img, a img {
    border: 0;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
}
ul, ol, li {
    list-style: none
}
table, td, input {
    font-size: 12px
}
/* 默认链接颜色 */
a {
    outline-style: none;
    color: #333;
    text-decoration: none
}
a:hover {
    color: #333;
    text-decoration: none;
}
/* 本站样式 */
body {
    width: 320px;
    /*  background:#D0C999;
    color:#fff; */
    background: #fff;
    color: #333;
    font-size:12px;
    overflow-x:hidden;

}
.scroll{
    margin-top: 27px;
}
.clear{
    clear: both;
}
.head {
    height: 340px;
    width: 100%;
    position: relative;
}
.head .swipe_banners {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.head .swipe_banners ul {
    width: 300%;
    height: 100%;
}
.head .swipe_banners ul li {
    width: 25%;
    height: 100%;
    list-style: none;
    float: left;
}
.head .swipe_banners ul li img {
    height: 100%;
    width: 100%;
}
.head .swipe_bars {
    position: absolute;
    height: 30px;
    width: 100%;
    bottom: 10px;
}
.head .swipe_bars ul {
    height: 100%;
    width: 120px;
    margin: 0 auto;
}
.head .swipe_bars ul li {
    list-style: none;
    height: 10px;
    width: 10px;
    margin: 10px;
    float: left;
    border-radius: 10px;
    background: #999;
}
.head .swipe_bars ul .current {
    background: #f90;
}
#main {
    position: absolute;
    top: 340px;
    bottom: 0;
    left: 0;
    width: 100%;
    /*background: #D0C999;*/

}
#main  img{
    vertical-align: middle;
}
#main .mainSide{
    width: 47%;
    height: 80px;
    float: left;
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 10px;
}
#main  .wordPro{
    display: block;
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    /*color: #FFF697;*/
    color: #333;
    position: absolute;
    bottom: 5%;
}
#main .wordPro .pro_img{
    border-radius: 50%;
}
#main .mainTop{
    height: 40px;
    background: #eee;
    margin: 5px;
    font-size: 16px;
    border-radius: 10px;
    line-height: 40px;
    color: #333;
    font-weight: bold;
}
#main .mainTop img{
    margin: 0 0 4px 0;
}
#main .mainTop .fade{
    display: none;
}
#main  a{
    height: 100%;
    display: block;
    width: 100%;
}
#main  div{
    box-shadow: 1px 3px 2px #555;
    background: #eee;
}
#main  .mainSide:hover{
    opacity: 0.8;
}
#describe .desTop{
    height: 240px;
    width: 100%;
    overflow: hidden;
}
#describe .desMsg{
    text-indent: 28px;
    padding: 10px 20px;
    text-align: left;
}
#activity .actMsg{
    text-indent: 28px;
    padding: 10px 20px;
    text-align: left;
}
#activity .float_left{
    float: left;
    width: 34%;
    text-align: right;
    margin-right: 1%;
    margin-top: 5px;
}
#activity .float_right{
    float: right;
    width: 64%;
    text-align: left;
    margin-left: 1%;
    margin-top: 5px;
}
#activity .actTop{
    width: 100%;
    overflow-x: hidden;
}
#activity .actMore div{
    box-shadow: 0px 1px 1px #999;
    line-height: 25px;
}
#activity .actMore .verAlign{
    vertical-align: middle;
}
#describe .desMore div{
    box-shadow: 0px 1px 1px #999;
    line-height: 25px;
}
#describe .desMore .verAlign{
    vertical-align: middle;
    margin-left: 5px;

}
#scroll{
    background: red;
    display: none;
}
#product .proMsg{
    height: 108px;
    border-bottom: 1px #ddd solid;
    position: relative;
    margin-right: 5px;
}
#product .proMsg .pro_img{
    position: absolute;
    left: 5px;
    top: 5px;
    border: 1px #eee solid;
    bottom: 5px;
    padding: 3px;
    border-radius: 5px
}
#product .proMsg .pro_word{
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 108px;
    text-align: left;
}
#product .proMsg .pro_word .pro_wordTitle{
    font-size: 14px;
    text-align: center;
    color: #333;
}
#product .proMsg .pro_word .pro_wordPrice{
    font-weight: bold;
    font-size: 14px;
    /*color: #D79B40;*/
    color: #D7013D;
}
#product .proMsg .pro_word .proBuyNum{
    float: left;
}
#product .proMsg .pro_word .buyNumColor{
    color: #D79B40;
    font-size: 14px;
    margin: 0 4px;
}
#product .proMsg .pro_word .pro_wordDe{
    width: 175px;
    height: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
}
#product .proMsg .pro_word .pro_wordDetail{
    float: left;
    color: #D79B40;
}
#product .proMsg .pro_word .button{
    float: right;
}
#product .proMsg .buyNum{
    position: absolute;
    right: 10px;
    bottom: 36px;
    color: #D7013D;
    display: none;
}
#product .payButton{
    position: fixed;
    bottom: 0;
    left: 10px;
}
#guide .guideTop{
    height: 240px;
    width: 100%;
    overflow: hidden;
}
#guide .guideMsg{
    text-align: left;
    text-indent: 28px;
}
#guide .guideMsg p{
    padding: 5px 10px 0 8px;
}
.back{
    display: block;
    height: 27px;
    width: 100%;
    background: #eee url(../img/arrow2.png) no-repeat;
    line-height: 27px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px #ddd solid;
    z-index: 9999;

}
#pay{
    font-size: 16px;
}
#pay p{
    margin-top: 5px;

}
#pay .cartTop{
    margin: 5px;
    border-bottom: #ccc solid 1px;
    padding:5px;
}
#pay .payPrice{
    color: #D7013D;
    text-align: center;
}
#pay .cart{
    color: #333;
}
#pay .payTable {
    margin:0 4px;
    text-align: left;
}
#pay .payTable td{
    border-bottom: 1px #ddd solid;
}
#pay .payTable td{
    padding:3px 0;
}
#pay .cart .cartNum{
    width: 25px;
    text-align: center;
}
#pay .total{
    /*color: #D79B40;*/
    color: #D7013D;
    font-size: 18px;
    font-weight: bold;
}
#pay .sign{
    padding:0 5px;
}
#pay .payImg{
    border-radius:50px;
}
#describe .float_left{
    float: left;
    width: 20%;
    text-align: left;
    margin-right: 1%;
    margin-top: 5px;
    padding-left: 20px;
}
#describe .float_right{
    float: right;
    width: 71%;
    text-align: left;
    margin-left: 1%;
    margin-top: 5px;
}
#detail .detImg{
    height: 240px;
    width: 100%;
    margin-top: 5px;
    overflow: hidden;
}
#detail .detMsg p{
    padding: 5px 10px 0 8px;
    text-align: left;
    text-indent: 24px;
}
.button{
    width: 70px;
    height: 25px;
    /*background: #B2A23D; */
    background: #D7013D;
    color: #fff;
    margin-top: 5px;
    border:none;
}
