@charset "UTF-8";
body {
  width: 16rem;
  text-align: center;
  margin: 0 auto;
  padding: 0; }

body > div {
  text-align: center;
  margin-right: auto;
  margin-left: auto; }

div, form, ul, ol, li, span, p {
  margin: 0;
  padding: 0;
  border: 0; }

img, a img {
  border: 0;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 0.5555555556rem;
  font-weight: normal; }

ul, ol, li {
  list-style: none; }

table, td, input {
  font-size: 0.2666666667rem; }

a {
  outline-style: none;
  color: #333;
  text-decoration: none; }

a:hover {
  color: #333;
  text-decoration: none; }

body {
  width: 16rem;
  /*  background:#D0C999;
  color:#fff; */
  background: #fff;
  color: #333;
  font-size: 0.5555555556rem;
  overflow-x: hidden; }


body, ul, li{
  background-color:white;
  font-size:0.5rem;
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
}

#title{
  width:16rem;

  position:fixed;/*固定作用*/
  top:0px;

  background-color:#F5F5F5;
  color:#999999;
  border:1px solid #EEE8DD;

  z-index:9999; /* 让导航栏浮在网页的高层位置，遇到flash和图片时候也能始终保持最外层 */
  text-align:left;
}

#title ul{
  line-height: 1rem;
}
#title a{
  display: block;
  height: 100%;
  width: 100%;

}
#title .menu_back{
  width:1.5rem;
  height:1rem;

  text-align: center;
  overflow-y:hidden;
  cursor:hand;
  display:inline;
  list-style:none;
  font-weight:normal;
  float:left;
}


#title .menu_title{
  width:13rem;
  height:1rem;


  overflow-y:hidden;
  cursor:hand;
  display:inline;
  list-style:none;
  font-weight:normal;
  float:left;
}
#title .menu_right{
  width:1.5rem;
  height:1rem;
  overflow-y:hidden;
  cursor:hand;
  display:inline;
  list-style:none;
  font-weight:normal;
  float:left;
}

#title #img_back{
  width: 0.6rem;
  height: 0.6rem;
  margin-top: 0.2rem;
}
.scroll {
  margin-top: 1rem; }

.clear {
  clear: both; }

.head {
  height: 7.5555555556rem;
  width: 100%;
  position: relative; }

.head .swipe_banners {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.head .swipe_banners ul {
  width: 300%;
  height: 100%; }

.head .swipe_banners ul li {
  width: 25%;
  height: 100%;
  list-style: none;
  float: left; }

.head .swipe_banners ul li img {
  height: 100%;
  width: 100%; }

.head .swipe_bars {
  position: absolute;
  height: 0.6666666667rem;
  width: 100%;
  bottom: 10px; }

.head .swipe_bars ul {
  height: 100%;
  width: 2.6666666667rem;
  margin: 0 auto; }

.head .swipe_bars ul li {
  list-style: none;
  height: 0.2222222222rem;
  width: 0.2222222222rem;
  margin: 0.2222222222rem;
  float: left;
  border-radius: 0.2222222222rem;
  background: #999; }

.head .swipe_bars ul .current {
  background: #f90; }

#main {
  position: absolute;
  top: 7.5555555556rem;
  bottom: 0;
  left: 0;
  width: 100%;
  /*background: #D0C999;*/ }

#main img {
  vertical-align: middle; }

#main .mainSide {
  width: 47%;
  height: 1.7777777778rem;
  float: left;
  position: relative;
  margin-top: 0.1111111111rem;
  margin-left: 0.1111111111rem;
  border-radius: 0.2222222222rem; }

#main .wordPro {
  display: block;
  width: 100%;
  text-decoration: none;
  font-weight: bold;
  /*color: #FFF697;*/
  color: #333;
  position: absolute;
  bottom: 5%; }

#main .wordPro .pro_img {
  border-radius: 50%; }

#main .mainTop {
  height: 0.8888888889rem;
  background: #eee;
  margin: 0.1111111111rem;
  font-size: 0.3555555556rem;
  border-radius: 0.2222222222rem;
  line-height: 0.8888888889rem;
  color: #333;
  font-weight: bold; }

#main .mainTop img {
  margin: 0 0 0.0888888889rem 0; }

#main .mainTop .fade {
  display: none; }

#main a {
  height: 100%;
  display: block;
  width: 100%; }

#main div {
  box-shadow: 0.0222222222rem 0.0666666667rem 0.0888888889rem #555;
  background: #eee; }

#main .mainSide:hover {
  opacity: 0.8; }

#describe .desTop {
  height: 5.3333333333rem;
  width: 100%;
  overflow: hidden; }

#describe .desMsg {
  text-indent: 0.6222222222rem;
  padding: 0.2222222222rem 0.4444444444rem;
  text-align: left; }

#activity .actMsg {
  text-indent: 0.6222222222rem;
  padding: 0.2222222222rem 0.4444444444rem;
  text-align: left; }

#activity .float_left {
  float: left;
  width: 34%;
  text-align: right;
  margin-right: 1%;
  margin-top: 0.1111111111rem; }

#activity .float_right {
  float: right;
  width: 64%;
  text-align: left;
  margin-left: 1%;
  margin-top: 0.1111111111rem; }

#activity .actTop {
  width: 100%;
  overflow-x: hidden; }

#activity .actMore div {
  box-shadow: 0px 0.0222222222rem 0.0222222222rem #999;
  line-height: 0.5555555556rem; }

#activity .actMore .verAlign {
  vertical-align: middle; }

#describe .desMore div {
  box-shadow: 0px 1px 1px #999;
  line-height: 0.5555555556rem; }

#describe .desMore .verAlign {
  vertical-align: middle;
  margin-left: 0.1111111111rem; }

#scroll {
  background: red;
  display: none; }

#product .proMsg {
  height: 2.4rem;
  border-bottom: 1px #ddd solid;
  position: relative;
  margin-right: 0.1111111111rem; }

#product .proMsg .pro_img {
  position: absolute;
  left: 0.2222222222rem;
  top: 0.2222222222rem;
  border: 1px #eee solid;
  bottom: 0.2222222222rem;
  padding: 0.2222222222rem;
  border-radius: 0.2222222222rem; }

#product .proMsg .pro_word {
  position: absolute;
  top: 0.2222222222rem;
  right: 0.2222222222rem;
  bottom: 0.2222222222rem;
  left: 2.4rem;
  text-align: left; }

#product .proMsg .pro_word .pro_wordTitle {
  font-size: 0.3111111111rem;
  text-align: center;
  color: #333; }

#product .proMsg .pro_word .pro_wordPrice {
  font-weight: bold;
  font-size: 0.3111111111rem;
  /*color: #D79B40;*/
  color: #D7013D; }

#product .proMsg .pro_word .proBuyNum {
  float: left; }

#product .proMsg .pro_word .buyNumColor {
  color: #D79B40;
  font-size: 0.2222222222rem;
  margin: 0 0.0888888889rem; }

#product .proMsg .pro_word .pro_wordDe {
  width: 3.8888888889rem;
  height: 0.3777777778rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left; }

#product .proMsg .pro_word .pro_wordDetail {
  float: left;
  color: #D79B40; }

#product .proMsg .pro_word .button {
  float: right; }

#product .proMsg .buyNum {
  position: absolute;
  right: 0.2222222222rem;
  bottom: 0.8rem;
  color: #D7013D;
  display: none; }

#product .payButton {
  position: fixed;
  bottom: 0;
  left: 0.2222222222rem; }

#guide .guideTop {
  height: 5.3333333333rem;
  width: 100%;
  overflow: hidden; }

#guide .guideMsg {
  text-align: left;
  text-indent: 0.6222222222rem; }

#guide .guideMsg p {
  padding: 0.2222222222rem 0.2222222222rem 0 0.2222222222rem; }

.back {
  display: block;
  height: 0.2222222222rem;
  width: 100%;
  background: #eee url(../img/arrow2.png) no-repeat;
  line-height: 0.6rem;
  color: #000;
  font-size: 0.3555555556rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 0.0222222222rem #ddd solid;
  z-index: 9999; }

#pay {
  font-size: 0.3555555556rem; }

#pay p {
  margin-top: 0.1111111111rem; }

#pay .cartTop {
  margin: 0.2222222222rem;
  border-bottom: #ccc solid 1px;
  padding: 0.2222222222rem; }

#pay .payPrice {
  color: #D7013D;
  text-align: center; }

#pay .cart {
  text-align: center;
  color: #333; }

#pay .payTable {
  margin: 0 0.2222222222rem;
  width: 16rem;
  font-size: 0.3rem;
  text-align: left; }

#pay .payTable td {
  font-size: 0.3rem;
  border-bottom: 1px #ddd solid; }

#pay .payTable td {
  padding: 0.2222222222rem 0; }

#pay .cart .cartNum {
  font-weight: bold;
  font-size: 0.5rem;
  width: 0.5555555556rem;
  text-align: center; }

#pay .total {
  /*color: #D79B40;*/
  color: #D7013D;
  font-size: 0.4rem;
  font-weight: bold; }

#pay .sign {
  font-weight: bold;
  font-size: 0.5rem;
  padding: 0 0.2222222222rem; }

#pay .payImg {
  width:2rem;
  height:2rem;
  border-radius:10%; }

#describe .float_left {
  float: left;
  width: 20%;
  text-align: left;
  margin-right: 1%;
  margin-top: 0.2222222222rem;
  padding-left: 0.2222222222rem; }

#describe .float_right {
  float: right;
  width: 71%;
  text-align: left;
  margin-left: 1%;
  margin-top: 0.2222222222rem; }

#detail .detImg {
  height: 5.3333333333rem;
  width: 100%;
  margin-top: 0.2222222222rem;
  overflow: hidden; }

#detail .detMsg p {
  padding: 0.2222222222rem 0.2222222222rem 0 0.2222222222rem;
  text-align: left;
  text-indent: 0.5333333333rem; }

.button {
  width: 1.5555555556rem;
  height: 0.5555555556rem;
  /*background: #B2A23D; */
  background: #D7013D;
  color: #fff;
  margin-top: 0.1111111111rem;
  border: none; }

/*# sourceMappingURL=default.css.map*/
